body{
    background-color: #3BACB6;
    color: white;
}

h1{
    border-bottom-style: inset;
}

.tarefa-selecionada{
    color: black;
    font-style: italic;
}

.tarefanormal {
    color: white;
}